.footer {
  padding: 1.5rem 1rem;
  border-top: 1px solid #ccc;
  width: 100%;
  font-family: 'Playfair Display', serif;
  position: absolute;
  bottom: 0;
}

.footer::after {
  content: '';
  display: block;
  clear: both;
}

.footer .links {
  float: left;
}

.footer .social-links {
  float: right;
}

.footer .social-links a {
  color: #171717;
  padding: 0 1rem;
}

.footer .links a {
  padding: 0 1rem;
  color: #7E7E7E;
  position: relative;
  transition: 200ms;
}

.footer .links a:hover {
  color: #171717;
}

@media (max-width: 600px) {
  .footer .links {
    float: none;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .footer .social-links {
    float: none;
    text-align: center;
  }
}