.project-heading {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.project-heading > h2 {
  font-family: "Playfair Display", Times Roman, serif;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.project-details {
  width: 60%;
  float: left;
  padding-top: 5%;
  padding-right: 40px;
}

.project-image {
  width: 40%;
  margin-top: 2.5%;
  padding-bottom: 25%;
  float: right;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-details .description {
  font-size: 30px;
  padding-bottom: 10px;
}

.project-details .tech {
  color: #666;
}

.project-details .buttons {
  padding-top: 30px;
}

.project-details .buttons a {
  padding: 0.5rem 1.5rem;
  transition: 200ms;
  display: inline-block;;
}

.project-details .buttons a.project {
  border: 3px solid #171717;
  background: #fff;
  color: #171717;
  margin-right: 10px;
}

.project-details .buttons a.code {
  border: 3px solid #171717;
  background: #171717;
  color: #fff;
  margin-left: 10px;
}

.project-details .buttons a.project:hover {
  background: #171717;
  color: #fff;
}

.project-details .buttons a.code:hover {
  background: #fff;
  color: #171717;
}

@media (max-width: 800px) {
  .project-details {
    width: 100%;
    float: none;
  }
  .project-image {
    width: 100%;
    float: none;
    padding-bottom: 59%;
  }
  .project-details .description {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .project-details .tech {
    font-size: 14px;
  }
  .project-details .buttons a {
    padding: 0.4rem 1.6rem;
    transition: 200ms;
    display: inline-block;;
  }
}